body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.item-facture-button {
	color: #ffffff;
	background-color: #ee3643;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
}

.item-facture-button:hover {
	color: #ffffff;
	background-color: #ca2c37;
}

.item-facture-button:focus,
.item-facture-button:active {
	color: #ffffff;
	background-color: #ca2c37;
}

.price-button {
    background-color: #ee3643;
    color: #ffffff;

    width: 141px;
    height: 38px;
	text-align: center;
	font-weight: bold;

}

.item-header {
	background-color: #293449;
}

.item-header a {
	color: #ffffff;
}

.head-button {
    text-align: center;
    width: 220px;
    height: 42px;

    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    background-color: #ee3643;
    border: none;
    color: #ffffff;
    box-shadow: 0 5px 0 0 #b52933;
}

.head-button:hover {
	background-color: #ca2c37;
	box-shadow: #9a212a;
}

.head-button:active {
	background-color: #ba2732;
	box-shadow: #8e1e26;
}

.head-button span {
	font-size: 30px;
	line-height: 30px;
}

.site-search input {
    background-color: transparent;
    border: none;
}

.site-search input:hover {
	background-color: #212a3a;
}

.site-search input:focus {
	background-color: #ffffff;
}

.registration ul {
	list-style: none;
}

.registration input {
	background-color: #ffffff;
	vertical-align: middle;
	width: 150px;
	height: 45px;
}

.index-phone-registration {
	margin-top: 0;
	background-color: #f3f7f9;
}

.index-phone-registration h3 {
	color: #ee3643;

	font-style: italic;
	font-size: 16px;
	line-height: 23px;
}

.header-address a {
	color: #ee3643;

	font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
}

.header-address p {
    color: #727e90;

	font-size: 14px;
	line-height: 24px;
    text-align: center;
}


.header-navigation a {
    color: #ffffff;
    background-color: #32425c;
}

.header-navigation a:hover {
	background-color: #293449;
}

.header-navigation a:active {
	background-color: #1d2739;
	color: #747880;
}

.checkout input {
    color: #ffffff;
    background-color: #5fbb2d;

    opacity: 0.9;
    border: none;
    width: 150px;
    height: 42px;
}

.checkout input:hover {
	opacity: 1;
}

.checkout input:focus,
.checkout input:active {
	opacity: 0.75;
}

.materials {
	background-color: #ffbf47;
	color: #ffffff;

	font-size: 24px;
	line-height: 30px;
	width: 300px;
	height: 123px;
}

.materials input {
	color: #ffffff;
	background-color: #e5ac40;

	font-size: 14px;
	line-height: 18px;
	text-decoration: uppercase;
	border: none;
	border-radius: 2px;
	opacity: 0.7;
}

.tool {
	color: #ffffff;
	background-color: #3bbce3;

	font-size: 24px;
	line-height: 30px;
	width: 300px;
	height: 123px;
}

.tool input {
	color: #ffffff;
	background-color: #35a9cc;

	font-size: 14px;
	line-height: 18px;
	text-decoration: uppercase;
	border: none;
	border-radius: 2px;
	opacity: 0.7;
}

.technique {
	color: #ffffff;
	background-color: #dc91d8;

	font-size: 24px;
	line-height: 30px;
	width: 300px;
	height: 123px;
}

.technique input {
	color: #ffffff;
	background-color: #c682c2;

	font-size: 14px;
	line-height: 18px;
	text-decoration: uppercase;
	border: none;
	border-radius: 2px;
	opacity: 0.7;
}

.discount {
	color: #ffffff;
	background-color: #8ed78f;

	font-size: 24px;
	line-height: 30px;
	width: 300px;
	height: 123px;
}

.discount input {
	color: #ffffff;
	background-color: #80c180;

	font-size: 14px;
	line-height: 18px;
	text-decoration: uppercase;
	border: none;
	border-radius: 2px;
	opacity: 0.7;
}

.delivery {
	color: #ffffff;
	background-color: #ffc047;

	font-size: 24px;
	line-height: 30px;
	width: 300px;
	height: 123px;
}

.delivery input {
	color: #ffffff;
	background-color: #e5ac40;

	font-size: 14px;
	line-height: 18px;
	text-decoration: uppercase;
	border: none;
	border-radius: 2px;
	opacity: 0.7;
}

.materials input:hover,
.tool input:hover,
.technique input:hover,
.discount input:hover,
.delivery input:hover {
	color: #ffffff;
	opacity: 0.9;
}

.materials input:focus,
.tool input:focus,
.technique input:focus,
.discount input:focus,
.delivery input:focus,
.materials input:active,
.tool input:active,
.technique input:active,
.discount input:active,
.delivery input:active {
	color: #ffffff;
	opacity: 1;
}

.slider input {
	width: 195px;
	height: 38px;
}

.popular-items input {
	width: 253px;
	height: 38px;
}

.slider a {
	text-decoration: uppercase;
}

.popular-items {
	background-color: #f9f5f0;
	color: #32425c;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.features-buttons {
	text-align: center;
}

.facture-buttons li{
	border: 1px solid #eaeaea;
	width: 218px;
	height: 143px;
	margin: 20px;
	text-align: center;
}

.item-buttons {
	display: flex;
	display: inline;
}

.item-buttons li {
    border: 1px solid #eaeaea;
    text-align: center;
    width: 218px;
    height: 316px;
    margin: 20px;
    text-align: center;
}

.facture-buttons li:hover,
.item-buttons li:hover      {
	box-shadow: 0 0 23px 0 #cfd2d6;
}

.facture-buttons li:focus,
.item-buttons li:focus,
.facture-buttons li:active,
.item-buttons li:active {
	box-shadow: 0 0 9px 0 #cfd2d6;
}

.item-buttons p {
	font-family: "PT Sans", sans-serif;
	color: #000000;

	font-weight: bold;
	text-align: center;
}

.item-buttons .line-through {
    color: #c0c0c0;

	text-decoration: line-through;
	font-size: 17px;
	line-height: 18px;
}

.item-buttons .pricebutton {
	font-size: 17px;
	line-height: 18px;
	padding: auto;
}


.services {
	background-color: #f4f8f9;
	color: #000000;

	font-size: 13px;
	line-height: 24px;
}

.services h3 {
    color: #32425c;

	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
}

.services-table a {
	background-color: #32425c;
	color: #ffffff;

	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
}

.services-table a:hover {
	background-color: #293449;
}

.services-table a:focus,
.services-table a:active {
	background-color: #ffffff;
	color: #32425c;
}

.all-footer-nav {
	color: #ffffff;
	background-color: #32425c;
}

.footer-nav a {
	color: #ffffff;
}

.bottom-nav a {
	color: #f5c97d;
}

.footer-nav a:hover,
.bottom-nav a:hover {
	text-decoration: underline;
}

.footer-nav a:focus,
.footer-nav a:active {
	color: #a4abb4;
}

.bottom-nav a:focus,
.bottom-nav a:active {
	color: #ad956f;
}

.item-buttons .buy-button {
    color: #ffffff;
    background-color: #63a63e;

    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 0 0 #367315;
    width: 135px;
    height: 35px;
}

.item-buttons .buy-button:hover {
	background-color: #5fbb2d;
}

.item-buttons .buy-button:active,
.item-buttons .buy-button:focus {
	background-color: #518534;
	box-shadow: none;
}

.item-buttons .bookmark-button {
    color: #32425c;
    background-color: #ffffff;

    margin-top: 8px;

    width: 135px;
    height: 35px;
    text-transform: uppercase;
    border: 3px solid #63a63e;
    border-radius: 2px;
} 

.item-buttons .bookmark-button:hover {
    border-color: #32425c;
}

.item-buttons .bookmark-button:active,
.item-buttons .bookmark-button:focus {
    opacity: 0.5;
}

.bottom-footer {
	background-color: #293449;
	color: #ffffff;
}

.bottom-footer li a {
	background-color: #212a3a;
}

.bottom-footer li a:hover,
.bottom-footer li a:focus,
.bottom-footer li a:active {
	background-color: #ee3643;
}

.feedback {
	font-size: 16px;
	line-height: 18px;
}

.feedback a {
	color: #f5c97d;
}

.feedback a:hover {
    text-decoration: underline;
}

.feedback a:active,
.feedback a:focus {
	color: #e53643;

	text-decoration: none;
}

.personal-area a {
	color: #32425c;
	text-decoration: underline;
}

.personal-area a:hover {
	color: #ee3643;
}

.personal-area a:focus,
.personal-area a:active {
	color: #c5cad0;
}

.catalog a {
    color: #000000;
    text-transform: uppercase;
}

.page-buttons .next-button {
	width: 138px;
	height: 36px;
}

.page-buttons input {
	color: #000000;
	background-color: #ffffff;

	border: 1px solid #e5e5e5;
	border-radius: 2px;
	text-transform: uppercase;
	width: 36px;
	height: 36px;
	margin: 10px;
}

.page-buttons input:hover {
	border: 1px solid #bdc6ca;
}

.page-buttons input:focus {
    border: none;
    background-color: #ee3643;
}

.page-buttons input:active {
	border: 1px solid #ee3643;
}

.head-button span {
    color: #ffffff;
    background-color: #ee3643;

    width: 220px;
    height: 63px;
    box-shadow: 0 5px 0 0 #b52933;
}

.company-contacts input {
    color: #ffffff;
    background-color: #ee3643;

    width: 220px;
    height: 38px;
}

.contacts input {
    color: #ffffff;
    background-color: #ee3643;

    width: 300px;
    height: 38px;
}

.filter-headline {
	background-color: #f7f3ec;
	color: #000000;
	text-transform: uppercase;
}

.filter-headline a {
	color: #cacaca;

	border-bottom: 1px dotted #ee3643;
}

.filter-headline a:hover {
	color: #000000;

	border-bottom: 1px solid #ee3643;
}

.filter-headline a:focus,
.filter-headline a:active {
	color: #ee3643;
	border: none;
}

.write-us input {
    color: #ffffff;
    background-color: 
}

















